@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f6fa;
  --foreground: #313e51;
  --option: #fff;
  --subtitle: #626c7f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #313e51;
    --foreground: #fff;
    --option: #3b4d66;
    --subtitle: #abc1e1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
